astroid==2.2.5
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
pkg-resources==0.0.0
psycopg2==2.8.3
pudb==2019.1
Pygments==2.4.2
pylint==2.3.1
requests==2.21.0
six==1.12.0
soupsieve==1.9.2
typed-ast==1.4.0
urllib3==1.24.3
urwid==2.0.1
wrapt==1.11.2
